@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* 특정 HTML 요소에 대해 기본 스타일 지정 */
@layer base {
  /* h1 {} */
  /* h2 {} */
}

/* 유틸리티 클래스로 재정의 하고 싶은 더 복잡한 클래스들 정의 */
@layer components {
  .main-container {
    @apply flex items-center justify-center;
  }

  .main-container-full {
    @apply flex min-h-screen items-center justify-center;
  }

  .btn-green-to-blue {
    @apply text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
  }

  .btn-open {
    @apply text-gray-800 font-bold bg-white border border-gray-400 focus:outline-none hover:bg-yellow-200/50 focus:ring-4 focus:ring-gray-100 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 cursor-pointer;
  }

  .btn-cancel {
    @apply text-gray-800 font-bold bg-gray-200 border border-gray-400 focus:outline-none hover:bg-gray-300 focus:ring-4 focus:ring-gray-100 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 cursor-pointer;
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-gray-800 px-6 py-1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
